.sty a{
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #ffffff;
        color: #1e04e2;
    }
}
.sty a.active{
    text-decoration: underline;
    color: #ffffff;
}